<template name="navbar">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/websites">
	        Site Ace
	      </a>
	    </div>
		<div class="col-sm-3 col-md-3 pull-right">
        	<form class="navbar-form" role="search">
        		<div class="input-group">
            		<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
        		</div>
        	</form>
        </div>	    
	    <div class="nav navbar-nav navbar-right">
	    	{{> loginButtons}}
	    </div>
	  </div>
	</nav>
</template>		