<!-- template that displays several website items -->
<template name="website_list">
	<ol>
	{{#each websites}}
	{{>website_item}}
	{{/each}}
	</ol>
</template>

<!-- template that displays individual website entries -->
<template name="website_item">
<li>
	<a href="{{url}}">{{title}}</a>
	<p>
		{{description}}
	</p>
	<h4>Up Votes: {{totalUpvotes}}</h4>
	<h5>Down Votes: {{totalDownvotes _id}}</h5>
	<a href="#" id="upvote-{{_id}}" tabindex="0" class="btn btn-default js-upvote" role="button" data-toggle="popover" data-trigger="focus" data-content="In order to vote you must be a registered user">
		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
	</a>
	<a href="#" id="downvote-{{_id}}" tabindex="0" class="btn btn-default js-downvote" role="button" data-toggle="popover" data-trigger="focus" data-content="In order to vote you must be a registered user">
		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
	</a>
	
</li>
</template>