<!-- template that displays several website items -->
<template name="website_list">
	<ol>
	{{#each websites}}
	{{>website_item}}
	{{/each}}
	</ol>
</template>

<!-- template that displays individual website entries -->
<template name="website_item">
<li>
	<a href="{{url}}">{{title}}</a>
	<p>
		{{description}}
	</p>
	{{#if rating}}
		<h4>Ranting: {{rating}}</h4>
	{{/if}}
	<a href="#" id="upvote-{{_id}}" tabindex="0" class="btn btn-default js-upvote" role="button" data-toggle="popover" data-trigger="focus" data-content="Please login in order to vote">
		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
	</a>
	<a href="#" tabindex="0" class="btn btn-default js-downvote" role="button" data-toggle="popover" data-trigger="focus" data-content="Please login in order to vote">
		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
	</a>
	<!-- you will be putting your up and down vote buttons in here! -->
</li>
</template>