
<template name="website_list">
	<div class="container">
		<div class="row addPad">
			<div class="col-xs-12">
				<a tabindex="0" class="btn btn-default js-toggle-website-form" role="button" data-toggle="popover" data-trigger="focus" data-content="Please login in order to add new websites" href="#">
		  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</a>
				{{#if searchOn}}
				<a href="#" class="btn btn-default js-clear-search">Show all</a>
				{{/if}}
			</div>
		</div>
		{{>website_form}}
		{{#each websites}}
			{{>website_item}}
		{{/each}}
	</div>
</template>

<template name="website_item">
	<div class="panel panel-default js-website_item">
		<div class="panel-heading">
			<h3 class="panel-title"><a href="{{url}}">{{title}}</a></h3>
		</div>
		<div class="panel-body">
			<img class="media-object icon" src="{{getLogo url}}">
			<p>
				{{description}}
			</p>
			{{#if getDate}}
			<p>
				Added in: {{getDate}} by {{getAuthor createdBy}}
			</p>
			{{/if}}
			<h4>Up Votes: {{totalUpvotes}}</h4>
			<h5>Down Votes: {{totalDownvotes _id}}</h5>
			<a href="#" id="upvote-{{_id}}" tabindex="0" class="btn btn-default js-upvote" role="button" data-toggle="popover" data-trigger="focus" data-content="In order to vote you must be a registered user">
				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
			</a>
			<a href="#" id="downvote-{{_id}}" tabindex="0" class="btn btn-default js-downvote" role="button" data-toggle="popover" data-trigger="focus" data-content="In order to vote you must be a registered user">
				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
			</a>					
		</div> 
	</div>
</template>